.contain {
    display:flex;
    justify-content: center;
    margin-top: 60px;
    
}
.contact {
    display:grid;
    row-gap: 20px;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 10px;
    border-radius: 20px;
    margin-bottom:20px;
}
.contact-header {
    font-size: 50px;
    font-family: arial rounded mt;
    border-bottom: 5px double;
    margin: 0 10px;
}
.contact-form {
    text-align: center;
}
input,textarea{
    padding:10px;
    margin: 5px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgb(0,0,0,.5);
    outline: none;
    font-size: 15px;
    color:rgba(255,255,255,.8)
}
::placeholder {
    color:rgba(255,255,255,.8);
    font-family: arial rounded mt;
}
textarea {
    resize:none;
}
button {
    font-size: 20px;
    font-family: arial rounded mt;
    background-color: rgba(255,255,255,.2);
    padding: 5px;
    border-radius: 10px;
}
button:hover {
    transform: translateY(-2px);
    background-color: rgb(246 197 146 / 44%);
}
.social-link {
    text-align: center;
}
.social-link > p,.contact-info > p {
    font-size: 30px;
    font-family: arial rounded mt;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons > a {
    padding:15px;
    text-decoration: none;
}
.fab {
    border-radius: 30px;
    margin:10px;
    font-size: 30px;
    width:30px;
    box-shadow: 0 4px 4px black;
}
.fa-instagram {
    background-color: rgb(221, 50, 50);
    color:yellow;
}
.fa-twitter {
    background-color: white;
    color:rgb(51, 193, 241);
}
.fa-facebook-f {
    background-color: white;
    color:blue
}
.fab:hover {
    transform:translateY(-5px);
}
.contact-info {
    text-align: center;
}
.contact-info-content {
    font-family:arial rounded mt;
}
@media screen and (max-width:1035px) {
    .contain {
        position:relative;
        bottom:5cm;
        margin-top:0;
    }
    .contact-header {
        font-size:40px;
    }
    
}
@media screen and (max-height:680px) {
    body {
        height:100%;
    }
}
