.bio {
    border-left:6px solid black;
    margin-left:80px;
    display:grid;
    margin-top:125px;
    padding-left:10px;
    width:20cm;
}
.name > p {
    font-family: Arial Rounded MT;
    overflow: hidden;
    font-size: 70px;
}
.position {
    font-family:calibri;
    font-size:30px;
    padding-top:10px;
}
.about-me {
    font-family:arial;
    font-size:20px;
    padding-top:10px; 
}
.fname {
    position:relative;
    bottom:3cm;
    animation-name: move-down;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    
}
.mname {
    position:relative;
    top:8cm;
    animation-name: move-top;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.lname {
    position:relative;
    left:12cm;
    animation-name: move-left;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes move-down {
    from {bottom:3cm;}
    to {bottom:0cm;}
}
@keyframes move-top {
    from {top:8cm}
    to {top:0px;}
    
}
@keyframes move-left {
    from {left:12cm;}
    to {left:0px;}
}
@media screen and (max-width:1035px) {
    .bio {
        position:relative;
        bottom:8cm;
        width:50vw;
    }
    .name {
        width: 35vw;
    }
    .name > p {
        font-size: 50px;
    }
    .position {
        font-family:calibri;
        font-size:25px;
        padding-top:5px;
    }
    .about-me {
        font-family:arial;
        font-size:20px;
        padding-top:10px; 
    }
    
}