.bio {
    border-left:6px solid black;
    margin-left:80px;
    display:grid;
    margin-top:125px;
    padding-left:10px;
    width:20cm;
    /*box-shadow: -3px 0 3px snow;*/
}
.name > p {
    font-family:calibri;
    font-size:70px;
}
.position {
    font-family:calibri;
    font-size:30px;
}
.about-me {
    font-family:calibri;
    font-size:20px;
    text-align: justify;
}