* {
    margin:0;
    padding:0;
}
.content {
    display:grid;
    grid-template-columns:auto auto auto;
    justify-content: center;
    column-gap: 40px;
    row-gap: 10px;
    margin-top: 40px;
    overflow: hidden;
}
.content-heading {
    grid-column:1/4;
    text-align: center;
}
.content-item {
    font-family:Arial Rounded MT;
    background-color: rgb(255, 255, 225,.2);
    width:310px;
    box-shadow:0 0 10px;
    border-radius:20px;
    margin-bottom:20px;
    position: relative;
    top: 17cm;
}
.img-container {
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.content-item-body {
    padding:10px;
}
.cnt-itm-bdy-p-head {
    font-size:25px;
}
.cnt-itm-bdy-p-bdy {
    margin-top:10px;
}
.animation1 {
    animation-name: animation;
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.animation2 {
    animation-name: animation;
    animation-duration: 3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}
.animation3 {
    animation-name: animation;
    animation-duration: 3s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes animation {
    0% {top: 17cm;}
    50% {top: -1cm;}
    100% {top:0;}
}
@media screen and (max-width:1035px) {
    body {
        height:100%;
    }
    .content {
        position: relative;
        bottom: 5cm;
        margin-top:0;
        display:grid;
        grid-template-columns: auto;
        margin-bottom:15px;
    }
    .content-heading {
        grid-column: 1/1;
    }
    .content-item {
        width:70vw;
        margin-bottom:15px;

    }
    .img-container {
        overflow: hidden;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    img {
        height:360px;
        width:70vw;
    }
    .cnt-itm-bdy-p-bdy {
        font-size:15px;
    }
    .cnt-itm-bdy-p-head {
        font-size:25px;
    }
}
@media screen and (max-height:720px) {
    body {
        height:100%;
    }
}